{% extends 'base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}

<div class="row">
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a>
            </button>
            <button class="btn btn-danger mb-2">
                <a href="#">Login with Instagram</a>
            </button>
            <button class="btn btn-info mb-2">
                <a href="#">Login with LinkedIn</a>
            </button>
        </div>
    </div>
    </div>
{% endblock %}